@charset "utf-8";

html,
body {
  /* padding: 0; */
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/*! getbase/base | MIT License | github.com/getbase/base */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  // color: color.$accent-blue;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
select {
  font-size: inherit;
  font-family: inherit;
}

form {
  margin: 0;
}

button {
  // text-decoration: none;
  text-transform: none;
  // outline: none;
  // border: none;
  margin: 0;
  // padding: 0;
  // width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  // color: inherit;
  // font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: 1.15;
  font-size: 100%;
}

/**
 * Remove the inner border and padding in Firefox.
 */

 button::-moz-focus-inner,
 [type="button"]::-moz-focus-inner,
 [type="reset"]::-moz-focus-inner,
 [type="submit"]::-moz-focus-inner {
   border-style: none;
   padding: 0;
 }
 

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
